.bg-custom-header-alt {
  --bs-bg-opacity: 1;
    background-color: #292033 !important;
}

.offcanvas-custom-alt {
  background-color: #292033 !important;
  color: white !important;
}

.offcanvas-custom-alt div{
  align-items: center !important;
}

.game-view {
  background-color: #292033;
}

.info-section hr {
  color: red;
  border-top: 5px solid;
  border-radius: 10px;
}

.vertical-line {
  border:         none;
  border-left:    5px solid;
  height:         200px;
  width:          1px;       
}

.sub-line {
  max-width: 300px;
}

.developer-img {
  border-style: solid;
  border-color: #292033;
  border-width: 1px !important;
  max-width: 100px;
}

.skin-thumbnail.skin-thumbnail {
  border: solid;
  /* border-color: #292033; */
  padding: 0;
  border-radius: 0;
  border-width: 1px;

  /* height: 200px;
  margin: 20px; */
  transition: all .3s;/* I put this to get smooth transition */
  position: relative;

}

.like-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}

.like-img {
  max-width: 32px;
  max-height: 32px;
}

.like-container > p {
  font-size: 26px;
  color: white;
  margin-bottom: 0px;
}

.blur-zone {
  box-sizing: border-box;

  position: absolute;
  width: 360px;
  height: 70px;
  left: -8px;
  top: 210px;

  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.5) 100%);
  opacity: 0.7;
  border: 1px solid #000000;
  backdrop-filter: blur(2px);
}

/* .skin-thumbnail > img {
  width: 300 !important; 
} */

/* .skin-thumbnail:hover > img {
  filter: brightness(1);
} */
